/* Main page */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
}

.title {
    font-size: 50px;
    text-align: center;
    font-weight: 200px;
}

.recipes-list {
    font-family: 'Courier New', Courier, monospace;
    margin: 4px auto;
    text-align: center;
}

.recipe {
    display: inline-block;
    background-color: whitesmoke;
    padding: 8px 24px;
    font-size: 20px;
}

/* Recipe Pages */

.image {
    border: 2px solid white;
    width: auto;
    height: 200px;
    margin: 14px auto;
}

.sub-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.sub-sub-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 18px;
}

.paragraph-description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    margin-right: 50%;
    padding: 20px;
    font-size: 18px;
}

.ingredients-list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    text-align: start;
    margin-left: 20px;
    padding: 4px;
    font-size: 18px;
}

.recipe-order {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
     margin-left: 20px;
    padding: 4px;
    font-size: 18px;
}

.home-button {
    border: 2px solid white;
    background-color: white;
    text-align: center;
    padding: 3px;
    font-size: large;
    color: black;
}